html, body {
  height: 100%; /*Fixes the height to 100% of the viewport*/
}
body {
  padding-top: 87px; /*50px for the height of the navbar + 37px for the offset*/
  padding-bottom: 50px; /*50px for the height of the bottom navbar*/
}
.navbar-offset {
    top: 37px; /*Offsets the top navbar 37px from the top of the viewport*/
}
.container-fluid.scrollable {
  height: 100%; /*Sets the scrollable area to 100% of the viewport*/
  overflow: auto; /*Allows the scrollable area to have a scrollbar based on the height of its content*/
  background: #ccc;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}
.back-btn {
  position: absolute;
  top: 100px;
  left: 10px;
}
.center {
  margin: auto;
  width: 61%;
  padding: 10px;
}
.charity-card-internal {
  height: 100%;
}
.charity-card {
  height: 100%;
}
.card-body {
  padding: 0;
  margin: 1.25rem;
}
#card-img {
  width:  250px;
  height: 200px;
}
#collection {
  margin: auto;
  width: 60%;
  padding: 10px;
}
#browse {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}


