.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}
.center {
  margin: auto;
  width: 61%;
  padding: 10px;
}
.charity-card-internal {
  height: 100%;
}
.charity-card {
  height: 100%;
}
.card-body {
  padding: 1.25rem;
  margin: 0;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.link-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #0000FF;
  cursor: pointer;
}
.more {
  display:none;
}
#card-img {
  width:  250px;
  height: 200px;
}
#collection {
  margin: auto;
  width: 60%;
  padding: 10px;
}

