.card {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 500px;
  height: 500px;
}

#charities-display {
  padding-top: 100px;
}

.badge {
  margin: 5px;
}

body {
  font-family: "Roboto", sans-serif
}

#content {
  padding-top: 60px;
}

.container {
    width: 100%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.center-tags {
  margin: auto;
  width: 50%;
  padding: 10px;
  justify-content: center;
}