body {
  font-family: "Roboto", sans-serif;
}

#content {
  padding-top: 100px;
  margin-left: 30px;
  /* right margin at 30px appears smaller than left so extra 5px to compensate */
  margin-right: 35px;
}

#charities-display {
  padding-top: 30px;
}

.card {
  border: thick solid black;
}

.card-img-top {
  width: 100%;
  height: 8vw;
}

.badge {
  margin: 5px;
}

.row {
  margin-bottom: 20px;
}