.card {
    border: thick solid black;
}

.card-img-top {
    width: 100%;
    height: 8vw;
}

.badge {
    margin: 5px;
}

body {
  font-family: "Roboto", sans-serif
}

#content {
  padding-top: 60px;
}

.container {
    width: 100%;
}

.card-deck .card {
    max-width: calc(20% - 30px);
}